<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Enter Email</label>
  <input type="text" name="user[email]" value="">

  <label>Enter Password</label>
  <input type="text" name="user[password]" value="">

  <input type="submit" value="Create User">
</form>
